<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.system.mapper.SysUserRoleMapper">

	<!-- 根据用户名查询 -->
	<select id="getUsersByRole" parameterType="org.jeecg.modules.system.entity.SysRole"
			resultType="org.jeecg.modules.system.entity.SysUser">
		select *
		from sys_user
				 left join sys_user_role on sys_user.id = sys_user_role.user_id
				 left join sys_role on sys_user_role.role_id = sys_role.id
		<where>
			<if test="id!=null and id!=''">
				and sys_role.id = #{id}
			</if>
		</where>
	</select>

</mapper>